<link rel="stylesheet" href="bootstrap.min (2).css">
<link rel="stylesheet" type="text/css" href="inscription.css">

{% block body %}
    <div class="row" style="color:rgba(0,0,128,1);
    background-color:rgba(230,255,255,1);
    border-radius:100px;
    width:1000px;
    height: 350px;
    margin: 80px auto 100px;
    padding-top:60px;">
    <form action="{{ path('app_login') }}" method="post" style="margin-left: 30%">
        <h2>Connexion</h2>
        <div class="row">
            <input type="text" placeholder="Adresse mail" required name="_username"><br>
        </div>
        <div class="row">
            <input type="password" placeholder="Mot de passe" required name="_password">
        </div>
            <button type="submit" class="btn btn-success" style="margin-left: 30%">Connexion</button>
    </form>
    </div>
{% endblock %}

