#whats{
    margin: 15px;
    margin-left: 10%;
    width: 70%;
    height: 110px;
}
#ongl{
    display: flex;
}
#reserch{
    height: 50px;
}
#init{
    margin-left: 40px;
}
#srch{
    margin-left: 40px;
}
#head{
    display: flex;
    justify-content: center;
}
#sign_up{
    padding-top: 15px;
    place-content: baseline;
    margin-left: auto;
    margin-right:1px;
    width: 6em
}
#profile{
    height: 25px;
    width: 25px;
}
#twitter{
    height: 25px;
    width: 25px;
}
#fb{
    height: 25px;
    width: 25px;
}
#insta{
    height: 25px;
    width: 25px;

}
#instagram{
    padding-top: 10px;
}
#linkedin{
    padding-top: 10px;
}
#in{
    height: 25px;
    width: 25px;

}
#pn{
    height: 25px;
    width: 25px;

}
#panier{
    padding-top: 10px;
}
#recherche{
    margin-right: 20px;
}
#reserch {
    width: 350px;
}
#list{
    width: 250px;
}

#corp{
    display: flex;
    margin-top: 3%;
}

#d_center{

    display: grid;
    width: 70%;
    grid-template-columns: 45% 45%;

}

#domaine{
    padding-top: 10px;
}

#msg{
    padding-top: 10px;
}
#envois{
    padding-top: 10px;
    margin-left: 180px;
}
label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}
#date{
    padding-top: 10px;
}
body{
    background-color: black;
}
#art{

    margin-left: 20%;
}
#urgent{
    padding-top: 10px;
}
#btn11{
    text-align: center;
}
#rens{
    text-align: center;
}