<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="UTF-8"/>
    <title>Welcome to WH ?</title>
    <link href="{{'choix.css'}}" type="text/css" rel="stylesheet">
</head>

<body>
<div class="center">

    <div class="title">
        <h2>Welcome to</h2>
        <div class="trait"></div>
        <h1>What Happened ?</h1>
    </div>

    <table>
        <tr>
            <td>
                <div class="connection">
                    <p>Want to write something ? </p>
                </div>
            </td>
            <td>
            </td>
            <td>
                <div class="inscription">
                    <p>Want to become a member ?</p>
                </div>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><div class="visit">
                    <p>Need to know more about us ?</p>
                    <button><a href="xvisit.html.twig">Let's go</a></button>
                </div>
            </td>
            <td></td>
        </tr>
    </table>
</div>
</body>

</html>
