<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Welcome to WH ?</title>
    <link href="{{'choix.css'}}" type="text/css" rel="stylesheet">
</head>

<body>
<div class="center">
    <div class="titre">
        <div class="title">
            <h2>Welcome to</h2>
            <div class="trait"></div>
            <h1>What Happened ?</h1>
        </div>
    </div>
        <table class="choices">
            <tr>
                <td>
                    <div class="connection">
                        <p> Want u write something ?</p>
                        <button><a href="{{ path('login') }}">Sign in</a></button>
                    </div>
                </td>
                <td>
                </td>
                <td>
                    <div class="inscription">
                        <p>Want to become a member ?</p>
                        <button><a href="{{ path('app_register') }}">Sign up</a></button>
                    </div>
                </td>
            </tr>
            <tr>
                <td>

                </td>
                <td>
                    <div class="visit">
                        <p>Need to know more about us ?</p>
                        <button><a href="visit.html.twig">Visit</a></button>
                    </div>
                </td>
                <td>
                </td>
            </tr>
        </table>
</div>
</body>
</html>
