
{% block body%}
    {% for articles in Events %}

        <h4> {{ articles.name }}</h4>
        <h6>{{ articles.location }}</h6>
        <h6>{{ articles.spaceavailable }}</h6>
        <a href=" {{ path('registration') }}" class="btn btn-success">Participer</a>

    {% endfor %}
{% endblock %}


