{% extends 'base.html.twig' %}
{% block body %}


    <div id="msg" xmlns="http://www.w3.org/1999/html">
        <p> Merci de l'interet que vous portez à notre association </p>
        <p> Votre demande sera instuite prochainement </p>
    </div>

    <div id="btn11" >

            <form action=" {{ path('home') }} ">
                <input class ="btn btn-success" type="submit" value="Revenir à la page d'acceuil" onClick=" {{ path('home') }} ">
            </form>

    </div>
{% endblock %}