<!DOCTYPE html>
<html>

    <head>
        {% block head %}
            <meta charset="UTF-8">
            <title>{{ app.user.firstName }} {{ app.user.lastName }}'s profile</title>
            <link rel="stylesheet" href="{{ 'profile_editProfile.css' }}" type="text/css">
            {% block stylesheets %}{% endblock %}
            {% block javascripts %}{% endblock %}
        {% endblock %}
    </head>

    <body >
        {% block body %}<h1>profile</h1>{% endblock %}
    </body>

</html>